<div class="center jumbotron">
	<h1>Welcome to the Authentication App</h1>

	<h2>
		This is the home page for my Ruby on Rails User Authentication App
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
			'http://rubyonrails.org/' %>
<%#= link_to image_tag("cat.jpg", alt: "Cute Kitty"),
			'cdn.learnenough.com/kitten.jpg' %>